# In this fourth cleaning notebook, I proceed with the cleaning of Spanish 2020 population database.

## 1. Importing libraries that are used.

In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.insert(0, '../src')
import unittest
from call import *

## 2. Importing database and data exploration

In [2]:
population2020 = pd.read_csv("../data/population.csv", encoding = "ISO-8859-1",sep = (";"), engine='python', error_bad_lines=False, warn_bad_lines=False)

In [3]:
population2020.shape

(52, 5)

In [4]:
population2020.head()

  Provincias              Region   Sexo  Periodo      Total
0   Albacete  Castilla la Mancha  Total     2020    388.270
1   Alicante        C.Valenciana  Total     2020  1.879.888
2    Almeria           Andalucia  Total     2020    727.945
3      Alava          Pais Vasco  Total     2020    333.940
4   Asturias            Asturias  Total     2020  1.018.784

In [5]:
population2020.columns

Index(['Provincias', 'Region', 'Sexo', 'Periodo', 'Total'], dtype='object')

In [6]:
population2020.dtypes

Provincias    object
Region        object
Sexo          object
Periodo        int64
Total         object
dtype: object

## 3. Cleaning data

### 3.1. Replacing values

In [7]:
population2020.loc[population2020["Provincias"] == "Alicante/Alacant", "Provincias"] = "Alicante"
population2020.loc[population2020["Provincias"] == "Coru√±a, A", "Provincias"] = "La Coruna"
population2020.loc[population2020["Provincias"] == "Rioja, La", "Provincias"] = "La Rioja"
population2020.loc[population2020["Provincias"] == "Bizkaia", "Provincias"] = "Vizcaya"
population2020.loc[population2020["Provincias"] == "Araba/Alava", "Provincias"] = "Alava"
population2020.loc[population2020["Provincias"] == "Castellon/Castello", "Provincias"] = "Castellon"
population2020.loc[population2020["Provincias"] == "Lleida", "Provincias"] = "Lerida"
population2020.loc[population2020["Provincias"] == "Gipuzkoa", "Provincias"] = "Guipuzcua"
population2020.loc[population2020["Provincias"] == "Girona", "Provincias"] = "Gerona"
population2020.loc[population2020["Provincias"] == "Palmas, Las", "Provincias"] = "Las Palmas"

In [8]:
population2020.Provincias.unique()

array(['Albacete', 'Alicante', 'Almeria', 'Alava', 'Asturias', 'Avila',
       'Badajoz', 'Islas Baleares', 'Barcelona', 'Vizcaya', 'Burgos',
       'Caceres', 'Cadiz', 'Cantabria', 'Castellon', 'Ciudad Real',
       'Cordoba', 'La Coruna', 'Cuenca', 'Guipuzcua', 'Gerona', 'Granada',
       'Guadalajara', 'Huelva', 'Huesca', 'Jaen', 'Leon', 'Lerida',
       'Lugo', 'Madrid', 'Malaga', 'Murcia', 'Navarra', 'Ourense',
       'Palencia', 'Las Palmas', 'Pontevedra', 'La Rioja', 'Salamanca',
       'Santa Cruz de Tenerife', 'Segovia', 'Sevilla', 'Soria',
       'Tarragona', 'Teruel', 'Toledo', 'Valencia', 'Valladolid',
       'Zamora', 'Zaragoza', 'Ceuta', 'Melilla'], dtype=object)

### 3.2. Renaming column

In [9]:
population2020 = population2020.rename(columns={'Total': 'Population'})

### 3.3. Converting values from object to float

In [10]:
population2020['Population'] = population2020['Population'].apply(lambda x: convert_str(x))

In [11]:
population2020.head()

  Provincias              Region   Sexo  Periodo  Population
0   Albacete  Castilla la Mancha  Total     2020    388270.0
1   Alicante        C.Valenciana  Total     2020   1879888.0
2    Almeria           Andalucia  Total     2020    727945.0
3      Alava          Pais Vasco  Total     2020    333940.0
4   Asturias            Asturias  Total     2020   1018784.0

## 4. Joining databases

### 4.1. Uploading dabases we want to join

In [12]:
employment = pd.read_csv("../output/employment.csv", encoding = "ISO-8859-1")
unemployment = pd.read_csv("../output/unemployment.csv", encoding = "ISO-8859-1")

### 4.2. Concatenating dataframes

In [13]:
province_data = pd.concat([population2020,employment,unemployment], axis=1)
province_data[:7]

,Provincias,Region,Sexo,Periodo,Population,Provincias,Employment rate,Provincias,Unemployment rate
0,Albacete,Castilla la Mancha,Total,2020.0,388270.0,Nacional,48.81,Nacional,16.13
1,Alicante,C.Valenciana,Total,2020.0,1879888.0,Albacete,48.63,Albacete,17.44
2,Almeria,Andalucia,Total,2020.0,727945.0,Alicante,45.92,Alicante,19.41
3,Alava,Pais Vasco,Total,2020.0,333940.0,Almeria,47.09,Almeria,21.15
4,Asturias,Asturias,Total,2020.0,1018784.0,Alava,49.60,Alava,9.99
5,Avila,Castilla y Leon,Total,2020.0,157664.0,Asturias,43.41,Asturias,13.50
6,Badajoz,Extremadura,Total,2020.0,672137.0,Avila,46.69,Avila,16.06

### 4.3. Deleting duplicated columns

In [14]:
province_data = province_data.loc[:,~province_data.columns.duplicated(keep = 'first')]

In [15]:
province_data.head()

,Provincias,Region,Sexo,Periodo,Population,Employment rate,Unemployment rate
0,Albacete,Castilla la Mancha,Total,2020.0,388270.0,48.81,16.13
1,Alicante,C.Valenciana,Total,2020.0,1879888.0,48.63,17.44
2,Almeria,Andalucia,Total,2020.0,727945.0,45.92,19.41
3,Alava,Pais Vasco,Total,2020.0,333940.0,47.09,21.15
4,Asturias,Asturias,Total,2020.0,1018784.0,49.60,9.99

In [16]:
province_data.dtypes

Provincias            object
Region                object
Sexo                  object
Periodo              float64
Population           float64
Employment rate      float64
Unemployment rate    float64
dtype: object

## 5. Exporting joined data.

In [17]:
province_data.to_csv("../output/province_data.csv", index = False)